# Sets user-defined palette

# Setups
format="$directory$git_branch$character"
right_format = "$sudo$cmd_duration"
# add_newline = false

# Other languages configurations:
c.disabled = true
cmake.disabled = true
haskell.disabled = true
python.disabled = true
ruby.disabled = true
rust.disabled = true
perl.disabled = true
package.disabled = true
lua.disabled = true
nodejs.disabled = true
java.disabled = true
golang.disabled = true

# Prompt symbols 
[character]
success_symbol = "[](green bold)"
error_symbol = "[](pink)"

[directory]
style = "bg:none fg:#5E3fba"
format = "[]($style)[󱗆 $path](bg:#5E3FBA fg:#ffffff)[ ]($style)"
truncation_length = 3
truncate_to_repo=false

[git_branch]
style = "bg:none fg:#cd1d48"
format = "[]($style)[ $branch](bg:#cd1d48 fg:#ffffff)[ ]($style)"

[git_status]
# $all status$ahead_behind
style = "bg:none fg:#46789E"
format = "[]($style)[$all_status$ahead_behind](bg:#46789E fg:#F4E4D8)[ ]($style)"
conflicted = "="
ahead =	"⇡${count}"
behind = "⇣${count}"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"
up_to_date = ""
untracked = "?${count}"
stashed = ""
modified = "!${count}"
staged = "+${count}"
renamed = "»${count}"
deleted = "${count}"

[cmd_duration]
min_time = 1
# duration & style 
style = "bg:none fg:#46789E"
format = "[]($style)[$duration](bg:#46789E fg:#F4E4D8)[]($style)"
disabled = false

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"
